/*---------------------------------------------------------------------------*\
  #FILTER
\*----------------------------------------------------------------------------*/

//-- Area binary ----------------------

.degree__image {

  filter: blur(4px) grayscale(1);
  transition: .5s;
}

.degree__image:hover {
  filter: blur(0) grayscale(0);
}

