@media only screen and (max-width: 600px) {
  header {
    position: relative;
  }

  .hamburg {

    &__btn,
    &__content {
      position: absolute;
      right: 0;
      top: 0;
    }

    &__btn {
top: -5px;
      right: -3px;
    }
  }
}