.banner {
  padding-bottom: 120px;
  height: 230px;

  &--fixed {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
}

.branding {
  padding-left: 1.5em;
}

.heros {
  width: 20%;

}

.navbarre__main {
  display: flex;
  justify-content: flex-end;
  flex-grow: 5;
  padding-right: 30px;
}

.menu {

  &__content {
    display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: 90px;
  }

  &__link {
    text-align: center;
  }
}