/*---------------------------------------------------------------------------*\
  #GENERIC
\*---------------------------------------------------------------------------*/






/*---------------------------------------------------------------------------*\
  #AREA PRIMARY
\*---------------------------------------------------------------------------*/

.presentation {

  &__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  
  &__headline {
    align-self: center;
    text-align: center;
    
  }
&__content{
 max-width: 40%;
}

  &__para {
    width: 40%;
  }
}


/*---------------------------------------------------------------------------*\
  #AREA BINARY
\*---------------------------------------------------------------------------*/
.degree {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__detail {
    align-self: center;
  }

  &__image--center {
    display: flex;
    justify-content: center;
  }

  &__image {
    max-width: 30%;
    margin: 0 15px;
  }

}


/*---------------------------------------------------------------------------*\
  #AREA TERNARY
\*---------------------------------------------------------------------------*/

.feature {



  &--flex {
    display: flex;
    justify-content: space-around;
  }

  &__headline {
    text-align: center;
  }

  &__item {
    width: 90px;
    border: 2px solid;
  }
}

/*---------------------------------------------------------------------------*\
  #AREA FOURTH
\*---------------------------------------------------------------------------*/